.myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem;
    margin-right: 1rem;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}
.customText {
    font-size: 3rem;
}